#canvas {
    position: relative;
    width: 500px;
    height: 500px;
    border: 1px solid;
    margin: 0 auto;
}
#player {
    position: absolute;
    height: 30px;
    width: 15px;
    background-color: blue;
}
.block {
    position: absolute;
    width: 15px;
    height: 15px;
}
#newMapBlocks {
    border: 0;
    position: absolute;
    top: 100px;
    left: 0;
    width: 230px;
    height: 150px;
}
@media (max-width: 1000px) {
  #newMapBlocks {
      position: relative;
      display: block;
      margin: 20 auto 0 auto;
      top: initial;
      left: initial;
  }
}