#canvas {
    position: relative;
    width: 500px;
    height: 500px;
    border: 1px solid;
    margin: 0 auto;
}
#player {
    position: absolute;
    height: 30px;
    width: 15px;
    background-color: red;
}
.block {
    position: absolute;
    width: 15px;
    height: 15px;
}